<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>添加区域页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/demo.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/component.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.carousel.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.theme.css}" />
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" type="text/css" media="screen"/>
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css" media="screen"/>
  <!-- END PLUGIN CSS -->
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link th:href="@{staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
  <!-- END PLUGIN CSS -->
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link th:href="@{staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
  <!-- END CORE CSS FRAMEWORK -->
  <script th:src="@{staticResources/jquery-2.1.4.js}"></script>



  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>添加区域页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/demo.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/component.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.carousel.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.theme.css}" />
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" type="text/css" media="screen"/>
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css" media="screen"/>
  <!-- END PLUGIN CSS -->
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link th:href="@{staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
  <!-- END PLUGIN CSS -->
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link th:href="@{staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
  <!-- END CORE CSS FRAMEWORK -->

  <script th:src="@{staticResources/jquery-2.1.4.js}" type="text/javascript"></script>


</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- 页眉，用户退出，显示头像，系统log -->
<div th:include="header :: header"></div>
<!-- 页面展示部分 -->
<div class="page-container row-fluid">
  <!-- 左侧导航栏 -->
  <div th:include="leftNavigationBar :: leftNavigationBar"></div>

  <!-- 主要内容展示部分，自己的页面内容全写在这里面-->

  <div class="page-content">

    <div class="clearfix"></div>
    <div class="content sm-gutter">
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <div class="row form-row">
                <span style="font-size: 28px">添加区域界面</span>
                </button>

              </div>


              <div class="pull-right">
               <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{staticResources/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/webarch/js/webarch.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/chat.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
<script th:src="@{staticResources/assets/plugins/skycons/skycons.js}"></script>



<script th:src="@{staticResources/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.mousewheel.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.flot.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/dashboard_v2.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS   -->
<!-- PAGE JS -->
<script th:src="@{staticResources/assets/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>