<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>添加预案</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/component.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.theme.css}"/>
    <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css"
          media="screen"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet"
          type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link th:href="@{staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet"
          type="text/css"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link th:href="@{staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
    <script th:src="@{staticResources/jquery-2.1.4.js}"></script>
    <style>
        #plan {
            border-left: 3px solid #28a4c9;
        }

    </style>
    <script>
        /*动态打印添加单位*/
        var i = 1;

        /*添加单位*/
        function addplanhtml() {
            if (i == 4) {
                alert("最多三个单位")
            } else {
                var s = $("<h1>---------单位" + i + "-----------</h1>")
                var s1 = $("#planhtml").html();
                $("#plan").append(s)
                $("#plan").append("<label class=\"form-label\">涉及单位</label>\n" +
                    "                                            <span class=\"help\"></span>\n" +
                    "                                            <div class=\"controls\">\n" +
                    "                                                <!--   <input type=\"text\" placeholder=\"请输入涉及单位\" class=\"form-control\"/>-->\n" +
                    "                                                <select name=\"planselect\" onchange=\"isselect(this)\" id=\"select" + i + "\">\n" +
                    "                                                    <option selected=\"selected\" value=\"\" >请选择单位</option>\n" +
                    "                                                    <option value=\"1\">公安</option>\n" +
                    "                                                    <option value=\"3\">医院</option>\n" +
                    "                                                    <option value=\"2\">消防</option>\n" +
                    "                                                </select>\n" +
                    "                                            </div>\n" +
                    "                                            <label class=\"form-label\">出动人数</label>\n" +
                    "                                            <span class=\"help\"></span>\n" +
                    "                                            <div class=\"controls\">\n" +
                    "                                                <input type=\"number\" placeholder=\"请输入涉及人数\" name=\"presonNum\"\n" +
                    "                                                       onBlur=\"ispresonNum()\" onkeyup=\"isnotfushu()\" value=\"0\"/>\n" +
                    "                                            </div>\n" +
                    "                                            <label class=\"form-label\">需要资源</label>\n" +
                    "                                            <span class=\"help\"></span>\n" +
                    "                                            <div class=\"controls\">\n" +
                    "                                                <input type=\"number\" placeholder=\"请输入需要资源\" name=\"vehicle\"\n" +
                    "                                                       onBlur=\"ispresonNum()\" onkeyup=\"isnotfushu()\" value=\"0\"/>\n" +
                    "                                            </div>")
                i++;
            }
            /*删除select*/
            var s = $("#select1").val()
            var s1 = $("#select2").val()
            var s2 = $("#select3").val()
            if (s == "1") {
                $("#select2  option[value='1']").remove();
                $("#select3  option[value='1']").remove();
            } else if (s == "2") {
                $("#select2  option[value='2']").remove();
                $("#select3  option[value='2']").remove();
            } else if (s == "3") {
                $("#select2  option[value='3']").remove();
                $("#select3  option[value='3']").remove();
            }
            if (s1 == "1") {
                $("#select3  option[value='1']").remove();
            } else if (s1 == "2") {
                $("#select3  option[value='2']").remove();
            } else if (s1 == "3") {
                $("#select3  option[value='3']").remove();
            }

        }

        /*删除单位*/
        function deleteplanhtml() {
            $("#plan").empty();
            i = 1;

        }

        /*---end---*/
        /*判断是否有值*/
        $(function () {
            $("input[name=planname]").blur(isplannames)
           /* $("input[name=presonNum]").blur(ispresonNum);
            $("input[name=vehicle]").blur(ispresonNum);*/
            $("input[name=planDecs]").blur(ispresonNum);
            $("#addplan").click(ispresonNum);
            $("select[name=planeven]").change(isplanType);

        })

        /*正则表达不能为负数*/
        function isnotfushu() {
            var presonNum = $("input[name=presonNum]").val()
            var vehicle = $("input[name=vehicle]").val()
            var ret = /^[0-9]*[0-9][0-9]*$/ ;

            if ( !ret.test(presonNum) || !ret.test(vehicle)) {
                $("#notfushu").html("请输入正整数")
                $("#addplan").attr('disabled', true);
            }else {
                $("#notfushu").empty();
                $("#addplan").attr('disabled', false);
            }
        }

        /*判断是否有想通的预案等级*/
        function isplanType() {
            var planeven = $("select[name=planeven]").val()
            var planttpe = $("select[name=planttpe]").val()
            if (planeven != "" && planttpe != "") {
                $.post("isPlantype", {planevenl: planeven, plantype: planttpe}, function (data) {
                    $("#planevenspan").html(data);
                    if ("已有类型和等级相同预案" == data) {
                        $("#planevenspan").css("color", " #EEAD0E");
                        /* $("#addplan").attr('disabled', true);*/
                    } else {
                        $("#planevenspan").empty();
                    }
                });
            } else {
                $("#planevenspan").css("color", "red");
                $("#planevenspan").html("请选择类型或等级");
            }

        }

        /*判断预案名是否重复*/
        function isplannames() {
            var text = $("input[name=planname]").val();
            if (text != "") {
                $.post("isPlanName", {PlanName: text}, function (data) {
                    $("#planNamespan").html(data);
                    if ("预案名重复" == data) {
                        $("#planNamespan").css("color", "red");
                        $("#addplan").attr('disabled', true);
                    } else {
                        $("#planNamespan").css("color", "green");
                        $("#addplan").attr('disabled', false);
                    }
                });
            } else {
                $("#planNamespan").css("color", "red");
                $("#planNamespan").html("请输入预案名");
            }

        }

        /*判断所有输入框是否为空*/
        function ispresonNum() {
            var input = $("input[type=text]").each(
                function () {
                    if ($(this).val() == "") {
                        $("span[name=span1]").css("color", "red");
                        $("span[name=span1]").html("请输入值");
                        $("#addplan").attr('disabled', true);
                    } else {
                        $("span[name=span1]").empty()
                        $("#addplan").attr('disabled', false);
                    }
                }
            )

            /*    if(input==''){
                    alert(1)
                    $("span[name=span1]").css("color","red");
                    $("span[name=span1]").html("请输入值");
                    $("#addplan").attr('disabled',true);
                }else {
                    $("span[name=span1]").empty()
                    $("#addplan").attr('disabled',false);
                }*/
            /*  var planname = $("input[name=planname]").val();
              var presonNum = $("input[name=presonNum]").val();
              var vehicle = $("input[name=vehicle]").val();
  */
            /*  if(planname==''||presonNum==''||vehicle==''){
                  $("span[name=span1]").css("color","red");
                  $("span[name=span1]").html("请输入值");
                  $("#addplan").attr('disabled',true);
              }else {
                  $("span[name=span1]").empty()
                  $("#addplan").attr('disabled',false);
              }*/

        }
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- 页眉，用户退出，显示头像，系统log -->
<div th:include="header :: header"></div>
<!-- 页面展示部分 -->
<div class="page-container row-fluid">
    <!-- 左侧导航栏 -->
    <div th:include="leftNavigationBar :: leftNavigationBar"></div>

    <!-- 主要内容展示部分，自己的页面内容全写在这里面-->
    <!-- 页面展示部分-->


    <!-- 页面展示部分-->

    <div class="page-content">

        <div class="clearfix"></div>
        <div class="content sm-gutter">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>预案添加</h4>
                        </div>
                        <div class="grid-body no-border">
                            <br/>
                            <!--表单开始-->
                            <form th:action="@{savaplan}" method="post">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group">
                                            <label class="form-label">预案名称</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <input type="text" placeholder="请输入预案名称" class="form-control"
                                                       name="planname"/>
                                                <span id="planNamespan"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">事件类型</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <!-- <input type="text" placeholder="请输入事件类型" class="form-control" name="planttpe"/>-->
                                                <select name="planttpe">
                                                    <option value=""> 请选择事件类型</option>
                                                    <option> 火灾</option>
                                                    <option> 地震</option>
                                                    <option> 暴动</option>
                                                    <option> 洪水</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">事件级别</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <!--  <input type="text" placeholder="请输入事件级别" class="form-control" name="planeven"/>-->
                                                <select name="planeven">
                                                    <option value=""> 请选择事件等级</option>
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>

                                                </select>
                                                <span id="planevenspan"></span>
                                            </div>
                                        </div>
                                        <h3>单位</h3>
                                        <span id="notfushu" style="color: red"></span>
                                        <div class="form-group" id="plan">



                                            <!-- <label class="form-label">涉及单位</label>
                                             <span class="help"></span>
                                             <div class="controls">
                                                 <select name="planselect">
                                                     <option selected="selected" value="">请选择单位</option>
                                                     <option>公安</option>
                                                     <option>医院</option>
                                                     <option>消防</option>
                                                 </select>
                                             </div>
                                             <label class="form-label">出动人数</label>
                                             <span class="help"></span>
                                             <div class="controls">
                                                 <input type="text" placeholder="请输入涉及人数" name="presonNum"/>
                                             </div>
                                             <label class="form-label">需要资源</label>
                                             <span class="help"></span>
                                             <div class="controls">
                                                 <input type="text" placeholder="请输入需要资源" name="vehicle"/>
                                             </div>-->

                                        </div>

                                        <!--给上面打印页面用 -->
                                        <div class="form-group" id="planhtml" style="display: none">

                                            <label class="form-label">涉及单位</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <!--   <input type="text" placeholder="请输入涉及单位" class="form-control"/>-->
                                                <select name="planselect" onchange="isselect()">
                                                    <option selected="selected" value="">请选择单位</option>
                                                    <option value="1">公安</option>
                                                    <option value="3">医院</option>
                                                    <option value="2">消防</option>
                                                </select>
                                            </div>
                                            <label class="form-label">出动人数</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <input type="number" placeholder="请输入涉及人数" name="presonNum"
                                                       onBlur="ispresonNum()" th:value="0"/>
                                            </div>
                                            <label class="form-label">需要资源</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <input type="number" placeholder="请输入需要资源" name="vehicle"
                                                       onBlur="ispresonNum()" th:value="0"/>
                                            </div>
                                        </div>
                                        <!--end-->

                                        <div class="form-group">
                                            <label class="form-label">预案详情</label>
                                            <span class="help"></span>
                                            <div class="controls">
                                                <input type="text" placeholder="请输入预案详情" class="form-control"
                                                       name="planDecs"
                                                />
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <span name="span1"></span>
                                            <button class="btn btn-info btn-cons" type="submit" id="addplan"><i
                                                    class="icon-ok"></i>
                                                添加
                                            </button>
                                            <a class="btn btn-info btn-cons" th:href="@{gotoPlan}"><i
                                                    class="icon-ok"></i> 取消
                                            </a>

                                            <a class="btn btn-info btn-cons" onclick="addplanhtml()"><i
                                                    class="icon-ok"></i> 添加单位
                                            </a>
                                            <a class="btn btn-info btn-cons" onclick="deleteplanhtml()"><i
                                                    type="button" class="icon-ok"></i> 删除单位
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </form>
                            <!--表单结束-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{staticResources/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-validation/js/jquery.validate.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>

<script th:src="@{webarch/js/webarch.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/chat.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
<script th:src="@{staticResources/assets/plugins/skycons/skycons.js}"></script>
<script th:src="@{staticResources/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.mousewheel.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/hammer.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/dashboard_v2.js}" type="text/javascript"></script>
</body>
</html>