<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>区域页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/demo.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/component.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.carousel.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.theme.css}" />
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" type="text/css" media="screen"/>
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css" media="screen"/>
  <!-- END PLUGIN CSS -->
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link th:href="@{staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
  <!-- END PLUGIN CSS -->
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link th:href="@{staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
  <!-- END CORE CSS FRAMEWORK -->
  <script th:src="@{staticResources/jquery-2.1.4.js}"></script>



  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>资源页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/demo.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/shape-hover/css/component.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.carousel.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{staticResources/assets/plugins/owl-carousel/owl.theme.css}" />
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" type="text/css" media="screen"/>
  <link rel="stylesheet" th:href="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css" media="screen"/>
  <!-- END PLUGIN CSS -->
  <!-- BEGIN PLUGIN CSS -->
  <link th:href="@{staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link th:href="@{staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
  <!-- END PLUGIN CSS -->
  <!-- BEGIN CORE CSS FRAMEWORK -->
  <link th:href="@{staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
  <!-- END CORE CSS FRAMEWORK -->

  <script th:src="@{staticResources/jquery-2.1.4.js}" type="text/javascript"></script>
  <script>
    $(function () {
      var pageNum = 1;
      $.getJSON("findAllArea", {pageNum: pageNum}, showResourcePage);


      $("#massge").click(function () {
          var $massge = $("#massge");
          $massge.empty();
      });
      $(":button").click(function () {
        var btn = this.value;
        var pageNum = $("#pageNum").val();
        var pageAll = $("#pageAll").val();
        var area = $("#area").val();


        pageNum = parseInt(pageNum);
        pageAll = parseInt(pageAll);
        if (btn === "first") {
          pageNum = 1;
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,
          }, showResourcePage)
        } else if (btn === "pre") {
          pageNum -= 1;
          if (pageNum == 0) {
            pageNum = 1
          }
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,

          }, showResourcePage)
        } else if (btn === "next") {
          pageNum += 1;
          if (pageNum > pageAll) {
            pageNum = pageAll;
          }
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,

          }, showResourcePage)
        } else if (btn === "last") {
          pageNum = pageAll;
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,

          }, showResourcePage)
        } else if (btn === "change") {
          pageNum = $("#number").val();
          if (pageNum >= pageAll){
            pageNum = pageAll;
          } else if (pageNum === ""){
            pageNum = 1;
          }
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,

          }, showResourcePage)
        } else if (btn === "check") {
          pageNum = 1;
          $.getJSON("findAllArea", {
            pageNum: pageNum,
            area: area,

          }, showResourcePage)
        }else if(btn==="www"){
            $('#www').click();
        }
        // else if(btn==="qqq"){
        //     $('#qqq').click();
        // }


      })
    });


    function showResourcePage(data) {
      let $tbody = $("tbody");
      $tbody.empty();

      $.each(data.tableBeans, function (i, e) {
        var id=e.areaId;
        var name=e.areaName;
        // var $option = ("<a href="+e.areaId+"/updateArea>修改</a>&nbsp&nbsp&nbsp"+
        //         "<a href="+e.areaId+"/deletAreaByID>删除</a>");

        var dataTr = "<tr>"
                + "<td class='v-align-middle'>" + id+"</td>"
                + "<td class='v-align-middle'><a href='findAllResourceByID?id=" + e.areaId+ "'>"+name+"</a></td>"
                // + "<td>"+$option +"</td>"
                +"</tr>";
        $tbody.append(dataTr);
      });
      var pageNum = data.currPate;
      var pageAll = data.totalPate;
      //渲染 “第2页/共11页” 信息
      $("#ajaxspan").html("第" + pageNum + "页/共" + pageAll + "页");
      //记录数据信息（当前页数和总页数）
      $("#pageNum").val(pageNum);
      $("#pageAll").val(pageAll);
    }
  </script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- 页眉，用户退出，显示头像，系统log -->
<div th:include="header :: header"></div>
<!-- 页面展示部分 -->
<div class="page-container row-fluid">
  <!-- 左侧导航栏 -->
  <div th:include="leftNavigationBar :: leftNavigationBar"></div>

  <!-- 主要内容展示部分，自己的页面内容全写在这里面-->

  <div class="page-content">

    <div class="clearfix"></div>
    <div class="content sm-gutter">
      <div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <div class="row form-row">
                <span style="font-size: 28px">区域展示界面</span>
                <div class="pull-right">
                  <form th:action="@{addArea}" style="display: inline">
                    <input id="areaName" name="areaName" type="text" class="form-control"
                           style="width: 150px;display: inline-block;" placeholder="区域名称"/>
                    <button class="btn btn-success btn-cons " type="submit"><i class="icon-ok"></i>添加区域</button>
                  </form>

                  <input id="area" name="area" type="text" class="form-control"
                         style="width: 150px;display: inline-block;" placeholder="区域名称模糊查询"/>
                  <button class="btn btn-success btn-cons" type="submit" value="check"><i class="icon-ok"></i>查询
                  </button>
                </div>

              </div>
            </div>
            <div class="grid-body ">
              <table class="table table-hover table-condensed" id="example">
                <thead>
                    <tr>
                      <th style="width:30%">区域编号</th>
                      <th style="width:15%" data-hide="phone,tablet">区域名称</th>
                      <!--<th style="width:30%" data-hide="phone,tablet">操作</th>-->
                    </tr>
                </thead>
                <tbody>
                    <!--<tr th:each="area,astate:${areaList}">-->
                      <!--<td th:text="${area.areaId}"> </td>-->
                      <!--<td th:text="${area.areaName}"></td>-->
                      <!--<td>-->
                          <!--&lt;!&ndash;${area.areaId}/&ndash;&gt;-->
                        <!--<a th:href="@{gotoResource}" th:text="查看资源"></a>-->
                        <!--<a th:href="@{gotoResource}" th:text="修改区域"></a>-->
                        <!--<a th:href="@{gotoResource}" th:text="删除区域"></a></td>-->
                    <!--</tr>-->
                </tbody>
              </table>
              <!--隐藏表单  储存相关数据    区域id  当前页数  总页数-->

              <span id="ajaxspan"></span>
              <input type="hidden" id="pageNum"/>
              <input type="hidden" id="pageAll"/>
              <div class="pull-right">

                <button class="btn btn-info btn-cons" type="button" value="first"><i class="icon-ok"></i> 首页</button>
                <button class="btn btn-info btn-cons" type="button" value="pre"><i class="icon-ok"></i> 上一页</button>
                <button class="btn btn-info btn-cons" type="button" value="next"><i class="icon-ok"></i> 下一页</button>
                <button class="btn btn-info btn-cons" type="button" value="last"><i class="icon-ok"></i> 尾页</button>
                <input type="text" class="form-control" placeholder="您要跳转的页码"
                       style="width: 120px;display: inline-block" id="number"/>
                <button class="btn btn-info btn-cons" type="button" value="change"><i class="icon-ok"></i>跳转</button>
              </div>
                <div class="pull-right">



                  <form method="post" enctype="multipart/form-data" id="form" style="display: inline;" action="/uploadarea">

                      <span id="massge" th:text="${massge}"></span>
                      <input type="file" name="filename" id="qqq" style="display: inline "/>
                    <!--<button class="btn btn-info btn-cons" type="button" value="qqq"><i class="icon-ok"></i> 选择文件</button>-->
                    <button class="btn btn-info btn-cons" type="button" value="www" style="display: inline"><i class="icon-ok"></i> 提交文件</button>

                    <input type="submit" th:field="导入文件" id="www" style="display: none"/>
                  </form>
                </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{staticResources/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/webarch/js/webarch.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/chat.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
<script th:src="@{staticResources/assets/plugins/skycons/skycons.js}"></script>



<script th:src="@{staticResources/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.mousewheel.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.flot.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/dashboard_v2.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS   -->
<!-- PAGE JS -->
<script th:src="@{staticResources/assets/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>