<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<div th:fragment="leftNavigationBar">
    <div class="page-sidebar " id="main-menu">
        <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
            <!-- 用户信息显示 -->
            <div class="user-info-wrapper sm">
                <div class="profile-wrapper sm">
                    <!-- 用户头像 -->
                    <img th:src="@{../staticResources/img/head.png}" alt=""
                          width="69" height="69"/>
                    <!-- 登陆状态 -->
                    <div class="availability-bubble online"></div>
                </div>
                <!-- 名字 -->
                <div class="user-info sm">
                    <!-- 姓名 -->
                    <div class="username"><span class="semi-bold" th:text="${session.userName}"></span></div>
                    <!-- 个性签名 -->
                    <div class="status">Life goes on...</div>
                </div>
            </div>
            <p/>
            <!-- 导航 -->
            <ul>
                <!-- 事件管理 -->
                <li class="start active"><a th:href="@{goNoDealWith}"><i class="material-icons"></i> <span
                        class="title">事件管理</span> <span class="selected"></span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{goToNoDealWith}"> 未处理事件 </a></li>
                        <li class=""><a th:href="@{goToDealWithIng}"> 处理中事件 </a></li>
                        <li class=""><a th:href="@{goToPageDealWithEd}"> 处理完成事件 </a></li>
                    </ul>
                </li>
                <!-- 预案管理 -->
                <li class="start active"><a th:href="@{gotoPlan}"><i class="material-icons"></i><span
                        class="title">预案管理</span> <span class="selected"></span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{gotoPlan}"> 预案管理  </a></li>
                            <!-- 红点提示 -->
                            <!--<span class="label label-important bubble-only pull-right "></span>-->
                    </ul>
                </li>
                <!-- 资源管理 -->
                <li class="start active"><a th:href="@{goToArea}"><i class="material-icons"></i><span
                        class="title">资源管理</span> <span class="selected"></span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{goToArea}"> 资源管理 </a> </li>
                    </ul>

                </li>
                <!-- 日志管理 -->
                <li class="start active"><a th:href="@{goToLogPage}"><i class="material-icons"></i><span
                        class="title">日志管理</span> <span class="selected"></span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a th:href="@{goToLogPage}">事件记录日志</a></li>
                        <li><a th:href="@{goToPlanLog}">预案管理日志</a></li>
                    </ul>
                </li>
                <!--&lt;!&ndash; 用户管理 &ndash;&gt;-->
                <!--<li class="start active"><a th:href="@{#}"><i class="material-icons"></i><span-->
                        <!--class="title">用户管理</span> <span class="selected"></span> <span class="arrow"></span> </a>-->
                    <!--<ul class="sub-menu">-->
                        <!--<li><a th:href="@{#}">用户管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <div class="clearfix"></div>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
</div>
</html>