<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>未处理事件详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{../staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/shape-hover/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/shape-hover/css/component.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/owl-carousel/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/owl-carousel/owl.theme.css}"/>
    <link th:href="@{../staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{../staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{../staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css"
          media="screen"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{../staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{../staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet"
          type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link th:href="@{../staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet"
          type="text/css"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link th:href="@{../staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{../staticResources/jquery-2.1.4.js}" type="text/javascript"></script>

    <script>
        $(function () {
            let currPage=1;
            let eventPeriod=1;
           $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);
           $("input[type=text]").prop("readOnly",true);
           $(":button").click(changePage);
        });
        function changePage() {
           let name=$(this).prop("name");
           let currPage=parseInt($("input[type=hidden]").eq(0).val());
           let totalPage=parseInt($("input[type=hidden]").eq(1).val());
           let eventPeriod=parseInt($("input[type=hidden]").eq(2).val());
           if ("首页"==name){
                currPage=1;
               $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);
           }
            if ("上一页"==name){
                    if (currPage<1){
                        currPage=1;
                    }else {
                        currPage--;
                    }
                $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);

            }
            if ("下一页"==name){
            if (currPage>=totalPage){
                currPage=totalPage;
            } else {
                currPage++;
            }
            $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);
            }
            if ("尾页"==name){
                currPage=totalPage;
                $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);
            }
            if ("跳转"==name){
                 currPage= parseInt($("input[type=number]").val());
                 if (""==currPage){
                     return  false;
                 } else if(currPage>=totalPage){
                     currPage=totalPage;
                 }else if (currPage<1) {
                     currPage=1;
                 }
                $.getJSON("getAllData",{currPage:currPage,eventPeriod:eventPeriod},showList);
            }

        }
        function showList(data) {
            let event= data.obj;
            $("#eventId").val(event.eventId);
            $("#eventName").val(event.eventName);
            $("#eventTime").val(event.eventTime);
            $("#eventUploadPeople").val(event.eventUploadPeople);
            $("#eventType").val(event.eventType);
            $("#alarmTel").val(event.alarmTel);
            $("#eventLevel").val(event.eventLevel);
            $("#uniqueAttr").val(event.uniqueAttr);

            $("#returnA").after("<a href=\"sendResources?eventId" + event.eventId + "\"><button class=\"btn btn-success btn-cons col-sm-offset-2\"  type=\"button\"><i class=\"icon-ok\"></i>\n" +
                "                            处理\n" +
                "                        </button></a>");

            if(data.totalPate==0||data.tableBeans==null||data.tableBeans==undefined){
                $("#example").css('display','none');
                return;
            }
           $("#tbody").empty();
           $.each(data.tableBeans,function (i,e) {
             let th="<tr>" +
                 "<td>"+e.eventType+"</td>" +
                 "<td>"+e.eventLevel+"</td>" +
                 "<td>"+e.hurtPopulation+"</td>" +
                 "<td>"+e.reportDesc+"</td>" +
                 "</tr>";
                $("#tbody").append(th);
           });
            $("input[type=hidden]").eq(0).val(data.currPate);
            $("input[type=hidden]").eq(1).val(data.totalPate);
            $("#span").text("/"+data.totalPate);
            $("input[type=number]").val(data.currPate);
            $("input[type=number]").prop("max",data.totalPate);
            $("input[type=number]").prop("min",1);


        }
    </script>
    <style>
        input[type=text] {
            width: 180px;
            margin-left: 20px;
            margin-right: 40px;
            border: none;
        }

        .label {
            margin-left: 40px;
        }

        #eventUploadPeople {
            margin-left: 35px;
            margin-right: 40px;
        }

        #alarmTel {
            margin-left: 10px;
            margin-right: 40px;
        }
    </style>

    <!-- END CORE CSS FRAMEWORK -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- 页眉，用户退出，显示头像，系统log -->
<div th:include="header :: header"></div>
<!-- 页面展示部分 -->
<div class="page-container row-fluid">
    <!-- 左侧导航栏 -->
    <div th:include="leftNavigationBar :: leftNavigationBar"></div>

    <!-- 主要内容展示部分，自己的页面内容全写在这里面-->

    <div class="page-content">
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>事件详情</h3>
            </div>
            <div class="modal-body"> Widget settings form goes here</div>
        </div>
        <div class="clearfix"></div>
        <div class="content sm-gutter">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-title no-border">
                            <h4>未处理事件<span class="semi-bold">详情</span></h4>
                        </div>
                        <div class="grid-body no-border">
                            <br/>
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <label class="form-label">事件编号:</label><input type="text" id="eventId"></input>
                                        <label class="form-label">事件名称:</label><input type="text" id="eventName"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">上报时间:</label><input type="text" id="eventTime" />
                                        <label class="form-label" id="label1">上报人:</label><input type="text" id="eventUploadPeople" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">事件类型:</label><input type="text" id="eventType" />
                                        <label class="form-label" id="label2">上报人电话:</label><input type="text"  id="alarmTel" />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">事件等级:</label><input type="text" id="eventLevel" />
                                        <label class="form-label">详细情况:</label><input type="text" id="uniqueAttr"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">特殊字段:</label><input type="text"/>
                                        <label class="form-label">特殊字段:</label><input type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <lable><h3>续报：</h3></lable>
                        <div class="grid-body ">
                            <table class="table table-hover table-condensed" id="example">
                                <thead>
                                <tr>
                                    <th style="width:8%">灾害类型</th>
                                    <th style="width:8%">灾害等级</th>
                                    <th style="width:8%">共计伤亡人数</th>
                                    <th style="width:8%">详情</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">

                                </tbody>
                            </table>
                            <div class="pull-right">
                                <button class="btn btn-info btn-cons" name="首页" type="button"><i class="icon-ok"></i> 首页</button>
                                <button class="btn btn-info btn-cons" name="上一页" type="button"><i class="icon-ok"></i> 上一页</button>
                                <button class="btn btn-info btn-cons" name="下一页" type="button"><i class="icon-ok"></i> 下一页</button>
                                <button class="btn btn-info btn-cons" name="尾页" type="button"><i class="icon-ok"></i> 尾页</button>
                                <input type="number" class="form-control" placeholder="您要跳转的页码"
                                       style="width: 120px;display: inline-block"/><span id="span"></span>
                                <button class="btn btn-info btn-cons" name="跳转" type="button"><i class="icon-ok"></i> 跳转</button>
                            </div>
                        </div>
                        <input type="hidden" name="currPage">
                        <input type="hidden" name="totalPage">
                        <input type="hidden" name="eventPeriod" value="1">

                        <a href="goNoDealWith" id="returnA"> <button class="btn btn-success btn-cons col-sm-offset-3" type="button"><i class="icon-ok" id="button1"></i>
                          返回
                        </button></a>

                        <!--<a href="goTosendResources"><button class="btn btn-success btn-cons col-sm-offset-2"  type="button"><i class="icon-ok"></i>-->
                            <!--处理-->
                        <!--</button></a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{../staticResources/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>

<script th:src="@{../staticResources/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>

<script th:src="@{../staticResources/webarch/js/webarch.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/js/chat.js}" type="text/javascript"></script>

<script th:src="@{../staticResources/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
<script th:src="@{../staticResources/assets/plugins/skycons/skycons.js}"></script>



<script th:src="@{../staticResources/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/Mapplic/js/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/Mapplic/js/jquery.mousewheel.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/Mapplic/js/jquery.flot.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/Mapplic/mapplic/mapplic.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/js/dashboard_v2.js}" type="text/javascript"></script>

<script th:src="@{../staticResources/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}" type="text/javascript"></script>

<script th:src="@{../staticResources/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
<script th:src="@{../staticResources/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS   -->
<!-- PAGE JS -->
<script th:src="@{../staticResources/assets/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>