<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>详情页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{../staticResources/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-metrojs/MetroJs.min.css}" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/shape-hover/css/demo.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{../staticResources/assets/plugins/shape-hover/css/component.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{../staticResources/assets/plugins/owl-carousel/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../staticResources/assets/plugins/owl-carousel/owl.theme.css}"/>
    <link th:href="@{../staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-slider/css/jquery.sidr.light.css}" rel="stylesheet"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{../staticResources/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="@{../staticResources/assets/plugins/Mapplic/mapplic/mapplic.css}" type="text/css"
          media="screen"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{../staticResources/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link th:href="@{../staticResources/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link th:href="@{../staticResources/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{../staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet"
          type="text/css"/>
    <!-- END PLUGIN CSS -->
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link th:href="@{../staticResources/webarch/css/webarch.css}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->
    <style>
        input[type=text] {
            width: 180px;
            margin-left: 20px;
            margin-right: 40px;
        }

        .label {
            margin-left: 20px;

        }

        label.event {
            margin-left: 50px;
        }

        input.input {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: -10px;
            margin-bottom: -10px;
            width: 70px;
        }

        label.aa {
            margin-left: 0px;
        }

        select.select {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: -10px;
            margin-bottom: -10px;
            padding-left: -20px;
            width: 200px;
        }

        th.tt {
            margin-left: -50px;
        }
    </style>
    <script th:src="@{../staticResources/jquery-2.1.4.js}" type="text/javascript"></script>
    <script>
        $(function () {
            let eventId = $("#eventId").val();
            let eventPeriod = Number($("#eventPeriod").val());
            $.getJSON("sendResources", {eventId: eventId, eventPeriod: eventPeriod}, showSendResource);

        });

        /* 以往派遣信息和预案显示 */
        function showSendResource(data) {
            let isAgain = $("#isAgain");
            isAgain.empty();
            let eventEntity = data.eventEntity;
            $("#area").attr("value", data.eventEntity.eventArea);
            let area = $("#area").val();
            // alert(area);
            $.getJSON("choiceArea", {area: area}, showArea);
            /* 判断未处理还是处理中 */
            if ($("#eventPeriod").val() == 1) {
                /* 未处理 */
                // alert("未处理");
            } else {
                // alert($("#eventPeriod").val());
                /* 处理中，判断是否有续派 */
                /* 有续派，显示 */
                let sizes = 0;
                if (data.sendResourcesDtoList != null) {
                    $.each(data.sendResourcesDtoList, function (i, e) {
                        sizes = sizes + 1;
                    });
                }
                // data.planFindDtoList.length();
                // alert(sizes);
                if (sizes > 1) {
                    let top = "<span style=\"font-size: 20px\">该事件以有过派遣，以下是派遣信息：</span>";
                    isAgain.append(top);
                    let $table = "<table class=\"table table-hover table-condensed\" id=\"example\">\n" +
                        "                                        <thead>\n" +
                        "                                        <tr>\n" +
                        "                                            <th style=\"width:8%\">派遣次数</th>\n" +
                        "                                            <th style=\"width:8%\">110</th>\n" +
                        "                                            <th style=\"width:8%\">派遣人数</th>\n" +
                        "                                            <th style=\"width:8%\">派遣车辆</th>\n" +
                        "                                            <th style=\"width:8%\">120</th>\n" +
                        "                                            <th style=\"width:8%\">派遣人数</th>\n" +
                        "                                            <th style=\"width:8%\">派遣车辆</th>\n" +
                        "                                            <th style=\"width:8%\">119</th>\n" +
                        "                                            <th style=\"width:8%\">派遣人数</th>\n" +
                        "                                            <th style=\"width:8%\">派遣车辆</th>\n" +
                        "                                        </tr>\n" +
                        "                                        </thead>" +
                        "                                        <tbody id='resourceTr'>\n" +
                        "                                        </tbody>" +
                        "       </table>";
                    isAgain.append($table);
                    let resourceTr = $("#resourceTr");
                    $.each(data.sendResourcesDtoList, function (i, e) {
                        if (e.time == 0) {
                            let dataTrs = "<tr><td><span class=\"muted\">初次派遣</span></td>\n" +
                                "                                            <td><span class=\"muted\">110</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.naturePolulation + "\/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.natureResource + "\/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">120</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalPolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalResource + "/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">119</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.firePolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.fireResource + "/辆</span></td></tr>";
                            resourceTr.append(dataTrs);
                        } else if (e.time == -1) {
                            let dataTrs = "<tr><td><span class=\"muted\">资源总计</span></td>\n" +
                                "                                            <td><span class=\"muted\">110</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.naturePolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.natureResource + "/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">120</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalPolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalResource + "/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">119</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.firePolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.fireResource + "/辆</span></td></tr>";
                            resourceTr.append(dataTrs);
                        } else {
                            let dataTrs = "<tr><td><span class=\"muted\">第" + e.time + "次派遣</span></td>\n" +
                                "                                            <td><span class=\"muted\">110</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.naturePolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.natureResource + "/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">120</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalPolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.hospitalResource + "/辆</span></td>\n" +
                                "                                            <td><span class=\"muted\">119</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.firePolulation + "/人</span></td>\n" +
                                "                                            <td><span class=\"muted\">" + e.fireResource + "/辆</span></td></tr>";
                            resourceTr.append(dataTrs);
                        }
                    });
                }
            }
            /* 预案模块 */
            let $plan = $("#plan");
            let planFindDtoList = data.planFindDtoList;
            let plan = "                                         <label class=\"form-label\">事件类型:</label><input style=\"width: 150px\" type=\"text\" class=\"input\" value=\"" + eventEntity.eventType + "\" disabled='true'/>\n" +
                "                                                <label class=\"form-label\">事件等级:</label><input type=\"text\" class=\"input\" value=\"" + eventEntity.eventLevel + "\" disabled='true'/>\n" +
                "                                                <label class=\"form-label\">事发区域:</label><input style=\"width: 120px\" type=\"text\" class=\"input\" value=\"" + eventEntity.eventArea + "\" disabled='true'/>\n" +
                "                                                <label class=\"form-label\">当前预案:</label>\n" +
                "                                                <select name=\"chooicePlan\" id=\"select1\" class=\"select\" onchange='changePlan()'>\n" +
                "                                                </select>";
            $plan.append(plan);
            let select1 = $("#select1");
            $("#ren110").val(0);
            $("#che110").val(0);
            $("#ren120").val(0);
            $("#che120").val(0);
            $("#ren119").val(0);
            $("#che119").val(0);
            $.each(planFindDtoList, function (i, e) {
                let selentPlan = "<option value=\"" + e.planId + "\">" + e.planName + "</option>";
                select1.append(selentPlan);
            });
            $.each(planFindDtoList, function (i, e) {
                $.each(e.deptDtos, function (j, f) {
                    if (f.deptName == "公安") {
                        $("#ren110").val(f.personNumber);
                        $("#che110").val(f.carNumber);
                    }
                    if (f.deptName == "消防") {
                        $("#ren120").val(f.personNumber);
                        $("#che120").val(f.carNumber);
                    }
                    if (f.deptName == "医院") {
                        $("#ren119").val(f.personNumber);
                        $("#che119").val(f.carNumber);
                    }
                });
                return false
            })
            /* 判断是否有续报，如果有，打印续报等级 */
            let resubmitDto = data.resubmitDto;
            if (resubmitDto != null) {
                let resubmitLevel = " <button type=\"button\" class=\"btn btn-warning btn-cons\" id=\"nowLevel\" value=\"" + resubmitDto.eventLevel + "\">\n" +
                    "                                                事件最新续报等级为" + resubmitDto.eventLevel + "级！已自动匹配最新等级预案。\n" +
                    "                                            </button>";
                $("#plan").after(resubmitLevel);
                $.getJSON("changeLevel", {
                    eventLevel: resubmitDto.eventLevel,
                    eventType: eventEntity.eventType
                }, function (data) {
                    /* 更改预案选择，动态打印预案内容 */
                    $("#ren110").val(0);
                    $("#che110").val(0);
                    $("#ren120").val(0);
                    $("#che120").val(0);
                    $("#ren119").val(0);
                    $("#che119").val(0);
                    let planId = $("#select1 option:selected").val();
                    $.each(data, function (i, e) {
                        if (e.deptName == "公安") {
                            $("#ren110").val(e.personNumber);
                            $("#che110").val(e.carNumber);
                            // alert(111);
                        }
                        if (e.deptName == "消防") {
                            $("#ren120").val(e.personNumber);
                            $("#che120").val(e.carNumber);
                        }
                        if (e.deptName == "医院") {
                            $("#ren119").val(e.personNumber);
                            $("#che119").val(e.carNumber);
                        }
                    })
                })
            }
        }

        /* 选择预案 */
        function changePlan() {
            /* 更改预案选择，动态打印预案内容 */
            $("#ren110").val(0);
            $("#che110").val(0);
            $("#ren120").val(0);
            $("#che120").val(0);
            $("#ren119").val(0);
            $("#che119").val(0);
            let planId = $("#select1 option:selected").val();
            // alert(planId);
            $.getJSON("changePlan", {planId: planId}, function (data) {
                $.each(data, function (i, e) {
                    if (e.deptName == "公安") {
                        $("#ren110").val(e.personNumber);
                        $("#che110").val(e.carNumber);
                    }
                    if (e.deptName == "消防") {
                        $("#ren120").val(e.personNumber);
                        $("#che120").val(e.carNumber);
                    }
                    if (e.deptName == "医院") {
                        $("#ren119").val(e.personNumber);
                        $("#che119").val(e.carNumber);
                    }
                })
            });
        }

        /* 显示当前区域所有单位 */
        function showArea(data) {
            let areaname = null;
            $.each(data.gongan, function (i, e) {
                areaname = e.areaEntity.areaName;
                return false;
            })
            $("#areaName1").text(areaname + ":公安");
            $("#areaName2").text(areaname + ":消防");
            $("#areaName3").text(areaname + ":医院");
            let $police = $("#police tbody");
            let $FireControl = $("#FireControl");
            let $hospital = $("#hospital");
            $.each(data.gongan, function (i, e) {
                let police = "<tr>\n" +
                    "                                            <td><label>公安：" + e.rname + "</label><input value=\"" + e.url + "\" hidden = hidden name='resourceName'>\n" +
                    "                                            <td>人数：<input type=\"number\" name='renshu' value='0' class=\"input\" min='0' max=\"" + e.pnumber + "\">（" + e.pnumber + "/可用）</td>\n" +
                    "                                            <td>车辆：<input type=\"number\" name='cheliang' value='0' class=\"input\" min='0' max=\"" + e.cnumber + "\"> (" + e.cnumber + "/可用)</td>\n" +
                    "                                        </tr>";
                $police.append(police);
            });
            $.each(data.xiaofang, function (i, e) {
                let FireControl = "<tr>\n" +
                    "                                            <td><label>消防：" + e.rname + "</label><input value=\"" + e.url + "\" hidden='hidden' name='resourceName'>\n" +
                    "                                            <td>人数：<input type=\"number\" name='renshu' value='0' class=\"input\" min='0' max=\"" + e.pnumber + "\">（" + e.pnumber + "/可用）</td>\n" +
                    "                                            <td>车辆：<input type=\"number\" name='cheliang' value='0' class=\"input\" min='0' max=\"" + e.cnumber + "\"> (" + e.cnumber + "/可用)</td>\n" +
                    "                                        </tr>";
                $FireControl.append(FireControl);
            });
            $.each(data.yiyuan, function (i, e) {
                let hospital = "<tr>\n" +
                    "                                            <td><label>医院：" + e.rname + "</label><input value=\"" + e.url + "\" hidden='hidden' name='resourceName'>\n" +
                    "                                            <td>人数：<input type=\"number\" name='renshu' value='0' class=\"input\" min='0' max=\"" + e.pnumber + "\">（" + e.pnumber + "/可用）</td>\n" +
                    "                                            <td>车辆：<input type=\"number\" name='cheliang' value='0' class=\"input\" min='0' max=\"" + e.cnumber + "\"> (" + e.cnumber + "/可用)</td>\n" +
                    "                                        </tr>";
                $hospital.append(hospital);
            });
        }
    </script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- 页眉，用户退出，显示头像，系统log -->
<div th:include="header :: header"></div>
<!-- 页面展示部分 -->
<div class="page-container row-fluid">
    <!-- 左侧导航栏 -->
    <div th:include="leftNavigationBar :: leftNavigationBar"></div>

    <!-- 主要内容展示部分，自己的页面内容全写在这里面-->

    <div class="page-content">
        <div id="portlet-config" class="modal hide">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"></button>
                <h3>Widget Settings</h3>
            </div>
            <div class="modal-body"> Widget settings form goes here</div>
        </div>
        <div class="clearfix"></div>
        <div class="content sm-gutter">
            <div class="row-fluid">
                <div class="span12">
                    <div class="grid simple ">
                        <div class="grid-title">
                            <div class="row form-row">
                                <span style="font-size: 28px">资源调用</span>
                                <p></p>
                                <div id="isAgain">
                                    <!-- 这里是以往派遣信息，有过记录才显示 -->
                                </div>
                                <span style="font-size: 28px">事件状态与预案</span>
                                <div class="grid-body no-border">
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <!-- 预案显示 -->
                                            <div class="form-group" id="plan">
                                            </div>
                                            <!-- 警告续报等级 -->
                                            <!--<button type="button" class="btn btn-warning btn-cons" id="nowLevel" value="3">-->
                                            <!--事件最新续报等级为3级！-->
                                            <!--</button>-->
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="div1">
                                        <div class="form-group">
                                            <label class="form-label aa" style="font-size: 16px">警察:</label>
                                            <label class="form-label event">预派遣人数:</label><input type="text"
                                                                                                 class="input"
                                                                                                 id="ren110"
                                                                                                 disabled="disabled"/>/人
                                            <label class="form-label">预派遣车辆:</label><input type="text" class="input"
                                                                                           id="che110"
                                                                                           disabled="disabled"/>/辆
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="div2">
                                        <div class="form-group">
                                            <label class="form-label aa" style="font-size: 16px">医院:</label>
                                            <label class="form-label event">预派遣人数:</label><input type="text"
                                                                                                 class="input"
                                                                                                 id="ren120"
                                                                                                 disabled="disabled"/>/人
                                            <label class="form-label">预派遣车辆:</label><input type="text" class="input"
                                                                                           id="che120"
                                                                                           disabled="disabled">/辆
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" id="div3">
                                        <div class="form-group">
                                            <label class="form-label aa" style="font-size: 16px">消防:</label>
                                            <label class="form-label event">预派遣人数:</label><input type="text"
                                                                                                 class="input"
                                                                                                 id="ren119"
                                                                                                 disabled="disabled"/>/人
                                            <label class="form-label">预派遣车辆:</label><input type="text" class="input"
                                                                                           id="che119"
                                                                                           disabled="disabled"/>/辆
                                        </div>
                                    </div>
                                </div>
                                <!-- 提交发送资源表单 -->
                                <form th:action="@{callDept}" method="post">
                                    <div class="grid-body no-border">
                                        <table class="table table-hover table-condensed" id="police">
                                            <thead>
                                            <tr>
                                                <span style="font-size: 28px" id="areaName1"></span>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <table class="table table-hover table-condensed" id="FireControl">
                                            <thead>
                                            <tr>
                                                <span style="font-size: 28px" id="areaName2"></span>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <table class="table table-hover table-condensed" id="hospital">
                                            <thead>
                                            <tr>
                                                <span style="font-size: 28px" id="areaName3"></span>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>

                                    <button class="btn btn-success btn-cons col-sm-offset-4" onclick="history.back()" type="button"><i
                                            class="icon-ok"></i> 返回
                                    </button>
                                    <button class="btn btn-success btn-cons col-sm-offset-1" type="submit"><i
                                            class="icon-ok"></i> 提交
                                    </button>
                                    <input type="hidden" th:value="${eventId}" id="eventId" name="eventId"/>
                                    <input type="hidden" th:value="${eventPeriod}" id="eventPeriod">
                                    <input type="hidden" id="area">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{staticResources/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-validation/js/jquery.validate.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>

<script th:src="@{staticResources/webarch/js/webarch.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/chat.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
<script th:src="@{staticResources/assets/plugins/skycons/skycons.js}"></script>


<script th:src="@{staticResources/assets/plugins/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.mousewheel.js}" type="text/javascript"></script>
<!--<script th:src="@{staticResources/assets/plugins/Mapplic/js/jquery.flot.min.js}" type="text/javascript"></script>-->
<script th:src="@{staticResources/assets/plugins/Mapplic/mapplic/mapplic.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-metrojs/MetroJs.min.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/js/dashboard_v2.js}" type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}"
        type="text/javascript"></script>
<script th:src="@{staticResources/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}"
        type="text/javascript"></script>

<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
<script th:src="@{staticResources/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS   -->
<!-- PAGE JS -->
<script th:src="@{staticResources/assets/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>